body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #000;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8.75rem;
}

.wrapper {
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

.spinner {
    width: 15rem;
    height: 15rem;
    animation: 3s linear infinite spin forwards;
}

@keyframes spin {

    0%,
    100% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotateY(360deg);
    }

    70% {
        transform: rotateX(360deg);
    }
}

.glass-background {
    background: rgba(255, 255, 255, 0.2);
    /* Adjust transparency as needed */
    backdrop-filter: blur(10px);
    /* Adjust blur amount as desired */
    border-radius: 8px;
    /* Rounded edges */
    padding: 1em;
    /* Padding inside the glass element */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Optional border for better visibility */
}